body{
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    font-size:small;
    background-color: #FD6E0A;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
}
nav{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background: #FFF8F3;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;

}